body {
    background-color: #373b40;
    background-image: url(/images/bg/texture-cloth.jpg);
    width: 100%;
}

.header-wrapper {
    width: 800px;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgba(37,39,40,0.8);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
    text-align: center;
}

.content-wrapper {
    width: 800px;
    margin: auto;
    background-color: rgba(37,39,40,0.8);
    min-height: 500px;
    border-radius: 20px;
    padding: 20px;
}

.inputs-wrapper {
    min-height: 40px;
    width: 600px;
    text-align: center;
    margin: 20px auto;
    clear: both;
}

.monitor-wrapper {
    width: 600px;
    margin: 20px auto;
}

.monitor-wrapper table {
    border-radius: 10px; 
    overflow: hidden;
}

.password-group {
    width: 200px;
    margin: auto;
    float: left;
}

.server-control-buttons {
    margin: auto;
}

.steam-id {
    vertical-align: middle !important;
    text-align: center;
}

th.steam-id {
    text-align: center;
}

#charSkillsModal .col-xs-2, #charSkillsModal .col-xs-1 {
    width: 44px;
    text-align: center !important;
}

#charSkillsModal {
    width: 500px;
    margin: auto;
}

#charSkillsModal .modal-dialog {
    width: 500px;    
}

h5.character-name {
    text-align: center;
}

.crafting-skills {
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}

.combat-skills {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: right;
}

.minor-skills {
    margin: auto;
    margin-bottom: 20px;
    clear: both;
    width: 45%;
}

#deathLogTab {
    height: 500px;
    overflow-x: auto;
    overflow-y: scroll;
}

.deathlog-date {
    margin-right: 30px;
    font-size: 12px;
}

.killed-by {
    font-size: 12px;
}

.knocked-out-by {
    font-size: 12px;
}

#onlineHistoryTab {
    height: 500px;
    overflow-x: auto;
    overflow-y: scroll;
}

.online-history-date {
    margin-right: 30px;
    font-size: 12px;
}

.nav > li.online-characters-button {
    display: none;
}
