.inputs-wrapper {
    min-height: 40px;
    width: 600px;
    text-align: center;
    margin: 20px auto;
    clear: both;
}

.monitor-wrapper {
    width: 600px;
    margin: 20px auto;
}

.monitor-wrapper table {
    border-radius: 10px; 
    overflow: hidden;
}

.password-group {
    width: 200px;
    margin: auto;
    float: left;
}

.server-control-buttons {
    width: 100%;
    margin: auto;
}
