.inputs-wrapper {
    min-height: 40px;
    width: 600px;
    text-align: center;
    margin: 20px auto;
    clear: both;
}

.monitor-wrapper {
    width: 600px;
    margin: 20px auto;
}

.monitor-wrapper table {
    border-radius: 10px; 
    overflow: hidden;
}

.password-group {
    width: 200px;
    margin: auto;
    float: left;
}

.server-control-buttons {
    width: 100%;
    margin: auto;
}

.steam-id {
    vertical-align: middle !important;
    text-align: center;
}

th.steam-id {
    text-align: center;
}

#charSkillsModal .col-xs-2, #charSkillsModal .col-xs-1 {
    width: 44px;
    text-align: center !important;
}

#charSkillsModal {
    width: 240px;
    margin: auto;
}

#charSkillsModal .modal-dialog {
    width: 240px;    
}

h5.character-name {
    text-align: center;
}
